* {
    font-family: 'Poppins',
        sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    padding: 0 auto;
}

h2,
p,
h1 {
    padding: 0px 0px;
    margin: 0px 0px;
}

.navbar {
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    position: sticky;
    z-index: 1;
    padding: 0 100px;
}

.container-fluid {
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo a {
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    font-weight: bold;
    align-items: center;
}

.brand {
    color: aqua;
    font-size: 1.5em;
    font-weight: bold;
}

.topnav {
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.topnav a {
    text-decoration: none;
    color: black;
    padding: 0 15px;
    font-size: 1.2em;
}

.topnav a:hover {
    color: black;
    background-color: aqua;
    padding-bottom: 7px;
    border-radius: 10px;
    transition: 200ms ease-in-out;
    font-weight: bold;
}

/* HUMBERGER MENU */
.menu-btn {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50px;
    height: 40px;
    transition: all 1ms ease-in-out;
    border-radius: 10px;
    left: 10px;
}

.menu-btn input {
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    left: -4px;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
}

.menu-btn-burger {
    width: 40px;
    height: 6px;
    background-color: #222;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;
}

.menu-btn-burger::before,
.menu-btn-burger::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 6px;
    background-color: #222;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;
}

.menu-btn-burger::before {
    transform: translateY(-12px);
}

.menu-btn-burger::after {
    transform: translateY(12px);
}

.humberger {
    display: none;
}


.menu-btn input:checked~.menu-btn-burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.menu-btn input:checked~.menu-btn-burger::before {
    transform: rotate(45deg) translate(35px, -35px);
    background-color: red;
}

.menu-btn input:checked~.menu-btn-burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
    background-color: red;
}

/* AKHIR HUMBERGER MENU */

.button {
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    background-color: aqua;
    border-radius: 20px;
    border: 3px solid aqua;
}

.button:hover {
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(1, 0, 1, 0.5);
    transition: 200ms ease-in-out;
    border: 3px solid aqua;
}

.button a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    color: black;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70vh;
    padding: 0px 100px;
}

.left {
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right {
    width: 60%;
    height: auto;
    display: flex;
    justify-content: right;
    align-items: center;
}

.right img {
    width: 75%;
    height: auto;
    border-radius: 10px;
}

.get-started {
    display: block;
    margin-top: 50px;
}

.button-content {
    padding: 15px;
    background-color: aqua;
    border-radius: 20px;
    border: 3px solid white;
}

.button-content:hover {
    background-color: #fafafa;
    border: 3px solid aqua;
    padding: 15px;
    box-shadow: 0px 0px 10px rgba(1, 0, 1, 0.5);
    transition: 200ms ease-in-out;
}

.get-started a {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: bold;
    color: black;
}

.left h1 {
    font-size: 3rem;
    font-weight: bold;
}

.left b {
    font-size: 20pt;
}

.left p {
    font-size: 16pt;
}

.services {
    background-color: #222;
    width: 100%;
    height: auto;
}

.top {
    display: flex;
    flex-direction: column;
}

.top h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #fafafa;
    text-align: center;
    margin-top: 20px;
}

.top h2:hover {
    color: aqua;
    transition: 500ms ease-in-out;
}

.top hr {
    width: 150px;
    margin-bottom: 40px;
    border: 0;
    border-top: 6px solid aqua;
    border-radius: 10px;
}

.bottom {
    display: grid;
    grid-template-columns: repeat(auto-fit, 26rem);
    justify-content: center;
    gap: 1rem;
    justify-items: center;
}

.card {
    background-color: #ffffff;
    width: 100%;
    height: auto;
    margin-bottom: 50px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0;
}

.card:hover {
    transform: translateY(-20px);
    transition: 300ms ease-in-out;
    box-shadow: 0px 0px 40px rgba(255, 255, 255, 0.5);
}

.card h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #222;

}

.card img {
    width: 70%;
    height: auto;
}

.card p {
    font-size: 1.2rem;
    color: #222;
    text-align: center;
    padding: 0 20px;
}

.button-services {
    display: block;
    background-color: aqua;
    margin: 10px 160px;
    padding: 10px 30px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 1.4rem;
    border: 3px solid aqua;
    color: #222;
}

.button-services:hover {
    font-weight: bold;
    transition: 300ms ease-in-out;
    background-color: #fafafa;
    border: 3px solid aqua;
}

.btn-floating {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: aqua;
    color: #222;
    font-size: 1.5rem;
    position: fixed;
    bottom: 20px;
    right: 20px;
    box-shadow: 0px 0px 10px rgba(1, 0, 1, 0.5);
    transition: 300ms ease-in-out;
}

.contact {
    background-color: white;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.high h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: black;
    text-align: center;
    margin-top: 20px;
}

.high h2:hover {
    color: aqua;
    transition: 300ms ease-in-out;
}

.high hr {
    width: 150px;
    margin-bottom: 40px;
    border: 0;
    border-top: 6px solid aqua;
    border-radius: 10px;
}

.form {
    width: 45vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: 40vw; */
}

.form-group label {
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
}

.form-group input {
    /* width: 100%; */
    height: auto;
    border-radius: 10px;
    border: 3px solid aqua;
    padding: 10px 9px;
    margin-bottom: 10px;
}

.form-group textarea {
    /* width: 100%; */
    height: auto;
    border-radius: 10px;
    border: 3px solid aqua;
    padding: 10px 9px;
    margin-bottom: 10px;
}

.button-submit {
    display: block;
    background-color: aqua;
    margin: 30px 0px;
    padding: 7px 0px;
    width: 150px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 1.2rem;
    border: 2px solid aqua;
    color: #222;
    /* align-items: center; */
}

.button-submit:hover {
    font-weight: bold;
    transition: 200ms ease-in-out;
    background-color: #fafafa;
    border: 2px solid aqua;
}

#about {
    background-color: #222;
}

.about {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.leftside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
}

.leftside img {
    width: 90%;
    height: auto;
}

.rightside {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    width: 50%;
    height: auto;
    border-radius: 20px;
}

.rightside hr {
    width: 90px;
    margin-bottom: 20px;
    border: 0;
    border-top: 6px solid aqua;
    border-radius: 10px;
}

.rightside h2 {
    font-size: 1.7rem;
    font-weight: bold;
    color: #fafafa;
    text-align: center;
}

.rightside p {
    color: white;
}

footer {
    background-color: rgb(95, 95, 95);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #fafafa;
    padding: 30px 0;
}

footer p a {
    color: #fafafa;
    text-decoration: none;
}

.spinner-border {
    border: 3px solid black;
}

.loader {
    border: 6px solid #b9b9b9;
    border-radius: 50%;
    border-top: 6px solid aqua;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    margin: 20px 0;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.d-none {
    display: block;
}

.alert-success {
    width: 40vw;
    background-color: aqua;
    border: 2px solid aqua;
    border-radius: 20px;
    color: #222;
    font-size: 1.2rem;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}